.clientes-container {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  font-family: sans-serif;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.clientes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.clientes-header p {
  color: #000000;
}
.clientes-header label {
  color: #000000;
}

.clientes-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.cliente-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  background: #ffffff;
}

.cliente-card h2 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
}
.cliente-card p {
  margin: 0.5rem 0;
  color: rgb(0, 0, 0);
}

.card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-top: 0.5rem;
}

.card-actions button {
  flex-shrink: 0;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.clientes-footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.remover {
  border-radius: 5px;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  transition:
    background 0.2s,
    border-color 0.2s;
  margin-left: auto;
  display: block;
}

.remover-todos {
  margin-top: 2rem;
  width: 100%;
  border: 3px solid #f97316;
  color: #f97316;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.remover-todos:hover {
  background: #fff7f0;
}

/* RESPONSIVIDADE */

@media (max-width: 1200px) {
  .clientes-container {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .clientes-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .clientes-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .clientes-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-actions {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .clientes-grid {
    grid-template-columns: 1fr;
  }

  .clientes-header {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }

  .card-actions button {
    font-size: 0.9rem;
    padding: 0.3rem 0.5rem;
  }

  .clientes-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .card-actions {
    flex-direction: column;
    align-items: stretch;
  }

  .card-actions svg {
    width: 240px;
    height: 24px;
  }

  .remover-todos {
    width: 100%;
  }
}
